@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inria-serif: "Inria Serif";
  --font-inter: Inter;
  --font-inknut-antiqua: "Inknut Antiqua";

  /* font sizes */
  --font-size-17xl: 36px;
  --font-size-45xl: 64px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #8b8383;
  --color-lightseagreen: #01a98c;
  --color-mistyrose: #ecd9d9;
  --color-dimgray-100: #6d5c5c;
  --color-whitesmoke-100: #f8f4f4;
  --color-whitesmoke-200: #efe9e9;

  /* Paddings */
  --padding-base: 16px;

  /* Border radiuses */
  --br-xl: 20px;
}
